archive/CAM.wav
archive/chant_fof_output.wav
archive/chant_formes.wav
archive/chant_full.wav
archive/chant_nl.wav
archive/chant_out.wav
archive/CHANTER copy 2.py
archive/CHANTER copy 3.py
archive/CHANTER copy 4.py
archive/CHANTER copy 5.py
archive/CHANTER copy 6.py
archive/CHANTER copy 7.py
archive/CHANTER copy 8.py
archive/CHANTER copy 9.py
archive/CHANTER copy 10.py
archive/CHANTER copy 11.py
archive/CHANTER copy 12.py
archive/CHANTER copy 13.py
archive/CHANTER copy 14.py
archive/CHANTER copy 15.py
archive/CHANTER copy 16.py
archive/CHANTER copy 17.py
archive/CHANTER copy 18.py
archive/CHANTER copy 19.py
archive/CHANTER copy.py
archive/Darkness.wav
archive/Hello_Darkness_my_old_fr.wav
archive/julia.wav
archive/Lucy.wav
archive/lyrics.txt
archive/output.wav
archive/soprano.wav
archive/souondofsilence.wav
